/* pages/message/index.less */
@import '/variable.less';

page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding-top: calc(@nav-bar-height + @navbar-padding-top);
  padding-bottom: calc(env(safe-area-inset-bottom) + 112rpx);
}

.nav-bar {
  border-bottom: 1rpx solid #e7e7e7;
}

.message-list {
  height: 0;
  flex-grow: 1;
}

.empty-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.avatar {
  border-radius: 50% !important;
}

.content > view {
  width: 460rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content.unread > view {
  font-weight: bold;
  color: #333;
}

.right-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8rpx;
}

.time-text {
  font-size: 22rpx;
  color: #999;
}
