@import '/variable.less';

page {
  padding-top: calc(@nav-bar-height + @navbar-padding-top);
  background-color: @bg-color;
}

.feedback-page {
  padding: 24rpx 32rpx;
}

.feedback-section {
  background-color: #fff;
  border-radius: 24rpx;
  padding: 24rpx 32rpx;
  margin-bottom: 24rpx;
}

.feedback-label {
  display: block;
  font-size: 28rpx;
  font-weight: 600;
  color: @gy1;
  margin-bottom: 16rpx;
}

.feedback-submit {
  margin-top: 48rpx;
}
